<h1>Home Page</h1>
<h2>Welcome <%= user.username %> !</h2>
<br />
<a href="/user/<%= user._id%>">View Profile</a>
<a href="/pets/addPet.ejs"></a>
<a href="/auth/sign-out">Sign Out</a>
<a href="/user/bookAppointment">Book Appointment</a>
<a href="/pets/all">All</a>
