<<<<<<< HEAD
<%- include('../partial/_navbar.ejs')%>
=======
<!-- <h1>Home Page</h1>

<% if(user.role === "User") { %>
<h2>Welcome <%= user.username %> !</h2>
<br />
<a href="/user/<%= user._id%>">View Profile</a>
<br />
<a href="/pets/addPet">Add Pet</a>
<br />
<a href="/pets/all">View Pets</a>
<br />
<a href="/user/bookAppointment">Book Appointment</a>
<br />
<a href="/user/viewAppointment">View My Appointments</a>
<br />
<a href="/auth/sign-out">Sign Out</a>

<% } else if(user.role === "Vet") {%>
<a href="/user/viewAppointment">View Appointments</a>
<br />
<% } %> -->

<%- include ("../partials/_navbar.ejs") %>
>>>>>>> main
