<link rel="stylesheet" href="/stylesheet/style.css" />
<body>

  <div class="signin-page">
    <img
      src="/images/project pic.png"
      alt="Care Vet Logo"
      class="logo"
    />
    <h1>CareVet</h1>
    <div class="user-field">
 <form action="/auth/sign-in" method="POST">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" required />
          </form>
        </div>
        <div class="password-field">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required />
          </div>
          <div class="forget-field">
          Forget password
          </div>
          <div class="create-field">
          Create new account!
          </div>
          <div class="submit-field">
          <button type="submit">Enter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
