<%- include("../partials/_navbar.ejs") %>

<link rel="stylesheet" href="/stylesheet/partials.css" />
<link rel="stylesheet" href="/stylesheet/style.css" />

<body class="profile-page">
  <h1 class="profile-header">Update Password</h1>

  <div class="appointment-container">
    <form
      action="/auth/<%= user._id %>?_method=PUT"
      method="POST"
      class="appointment-form"
      id="updatePasswordForm"
    >
      <div class="appointment-left" style="margin: 0 auto; max-width: 400px">
        <label for="oldPassword">Old Password:</label>
        <input
          type="password"
          id="oldPassword"
          name="oldPassword"
          placeholder="Enter old password"
          required
        />

        <label for="newPassword">New Password:</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          placeholder="Enter new password"
          required
        />

        <label for="confirmPassword">Confirm New Password:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Re-enter new password"
          required
        />

        <div class="book-btn-container">
          <button type="submit" class="book-btn">Update Password</button>
        </div>
      </div>
    </form>
  </div>

  <%- include("../partials/_footer.ejs") %>
</body>
