<html>
  <footer>
    <p>&copy; <%= new Date().getFullYear() %> Contact us: +973 17711111</p>
    <p>We are located in<a href="https://maps.app.goo.gl/HGANcDXe9zGUnPbP7?g_st=ic"> Class 207</a>!
    </p>
  </footer>
</html>
