@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

body {
  background-color: white;
}

h1 {
  text-align: center;
  color: black;
  font-family: "Jura", sans-serif;
  padding: 20px;
  display: flexbox;
  justify-content: center;
  /* align-items: center; */
  margin: 0;
}
.logo {
  width: 150px;
  height: 150px;
  margin: 250px;
  justify-content: center;
}
