@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

body {
  background-color: white;
}
main {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: black;
  font-family: "Jura", sans-serif;
  padding: 20px;
  display: flexbox;
  justify-content: center;
  /* align-items: center; */
  margin: 0;
}

.logo {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.field {
  text-align: center;
  margin: auto;
  display: block;
}

.hyperlink-field {
  text-align: center;
  margin: auto;
  display: block;
  padding: 10px;
}

.signin-page {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  flex-direction: column;
}

.profile-header {
  background-color: #65a8c2;
  max-width: 1455px; /* Keep this max width */
  color: #ecf3f4;
  padding: 10px 20px;
  margin: 10px auto;
  text-align: center;
}

.profile-container {
  background-color: #b5d6cb;
  padding: 30px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profile-page {
  background-color: white;
  background-size: cover;
}

.profile-info {
  text-align: left;
  flex-grow: 1;
  max-width: 70%;
  background-color: white;
  border-radius: 10px;
}

.profile-info h2 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
}

.profile-pic img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
}
