<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="port" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>Home Page</title>
  </head>
  <body class="index-body">

    <div class="index-container">
      <div class="text-container">
    <img src="/images/CareVet-Logo.png" alt="Website Logo" class="logo" />
        <h1 class="main-header">Care Vet</h1>
      </div>
      <div class="auth-links">
        <a class="signin-link" href="/auth/sign-in">Sign In</a>
        <a class="signin-link" href="/auth/sign-up">Sign Up</a>
      </div>
    </div>
  </body>
</html>
