<h1>Register your pet</h1>
<form action="/pets/addPet" method="post">
  <label>Pet Name:</label>
  <input type="text" name="petName" required />

  <select name="petName" id="petName">
    <option value="cat">Cat</option>
    <option value="dog">Dog</option>
    <option value="bird">Bird</option>
    <option value="horse">Horse</option>
    <option value="hamster">Hamster</option>
    <option value="cat">Cat</option>
  </select>

  <br />
  <label>Species:</label>
  <input type="text" name="species" required />
  <br />
  <label>Breed: </label>
  <input type="text" name="breed" required />
  <br />
  <!-- <label>Pet Photo (URL): </label>
      <input type="text" name="petPhoto" />
      <br /> -->
  <button type="submit">Add Pet</button>
</form>
