<h2>Details</h2>
<p>pet's name: <%= pet.petName %></p>
<p>Pet's sepcie: <%= pet.species %></p>
<p>Pet's breed: <%= pet.breed %></p>

<form action="/pets/<%= pet._id %>/edit">
  <button>Edit</button>
</form>
